body {
    background-color: #696969;
    color: white;
}

h1 {
    color: #3EB489;
}

.ResumeLink a:link, a:visited {
    background-color: #333;
    text-decoration: none;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    color: white;
}

.ResumeLink a:hover, a:active {
    background-color: #3EB489;
}

.reflection {
    text-indent: 30px;
    width: auto;
    border: 0px;
    padding: 0px;
    margin: 10px;
}

#first::first-letter {
    color: #3EB489;
}

#first {
    width: auto;
    border: 0px;
    padding: 0px;
    margin: 10px;
}

* {
    box-sizing: border-box;
  }
  
    .bigimg {
    text-align: center;
    border: 4px white;
    border-width: 4px;
  }

  #column {
    width: auto;
    height: auto;
    max-height: 70vh;
    max-width: 85vw;
    margin-top: 10px;
    border: darkslategrey solid 3px;
    border-radius: 8px;
  }

  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  .side {
    flex: 30%;
    padding: 20px;
  }
  
  .main {
    flex: 70%;
    padding: 20px;
  }
  
  .image {
    width: 380px;
    height: 380px;
    justify-content: right;
    border: darkslategrey solid 3px;
    border-radius: 8px;
}

  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }