body {
    background-color: #696969;
    color: white;
}

h1 {
    color: #3EB489;
}

.ResumeLink a:link, a:visited {
    background-color: #333;
    text-decoration: none;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    color: white;
}

.ResumeLink a:hover, a:active {
    background-color: #3EB489;
}

.reflection {
    text-indent: 30px;
    width: auto;
    border: 0px;
    padding: 0px;
    margin: 10px;
}

#first::first-letter {
    color: #3EB489;
}

#first {
    width: auto;
    border: 0px;
    padding: 0px;
    margin: 10px;
}